{% load static %}


<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patrones de diseño web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
  </head>
  <body>
    <div class="bd-main-container container">
      <div class="columns is-desktop">
        <div class="column is-full tercero is-size-1-mobile is-size-1-tablet has-text-light"><br><br><br>
          <h1 class="title is-1 color-blanco">Patrones de diseño web</h1>
          <h4 class="subtitle is-4 color-blanco">No se puede reinventar la rueda todos los días</h4><br><br><br>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-third blanco">
          <img src="{% static 'img/patrones1.jpg' %}" alt="" style="width: 100%;">
        </div>
        <div class="column tercero blanco"><br>
          <div class="box"><br>
            <p>¿Cómo las personas navegan en tantas páginas?</p><br>
            <p>¿Cómo indicamos que, cuando hacen clic, se mostrará un video?</p><br>
            <p>¿Cómo puedo hacer que un usuario navegue por mi web?</p><br>
          </div>

        </div>
      </div>
      <div class="columns">
        <div class="column is-medium"><br>
          <div class="content">
            <div class="box"><br>
              <p>Los usuarios saben entre los primeros 3 segundos si van a dejar tu página</p>
              <p>Los patrones comunican función e interés de la forma más  clara posible dentro de un margen de oportunidad.</p><br>
            </div>
          </div>
          <div class="content">
            <div class="box"><br>
              <h1>Definición de patrón</h1>
              <p>Un patrón de diseño es una forma reutilizable de resolver un problema común.</p>
              <p>Soluciones ampliamente reconocidas ante  determinandas situaciones o planteamientos.</p><br>
              <p>Los patrones de diseño son guias de referencia, <strong>mas no un libro a seguir paso a paso.</strong></p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <hr>
    <br><br><br>
    <div class="bd-main-container container">
      <div class="bd-duo">
        <div class="bd-lead">
          <div class="columns is-desktop">
            <div class="column is-full primario is-size-1-mobile is-size-1-tablet has-text-light"><br><br>
              <h1 class="title is-1 color-blanco">Diseño web líquido</h1><br>
              <p class="subtitle is-4 color-blanco">¿Qué es diseño web líquido?</p><br><br><br>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <img src="{% static 'img/atomic-design-03.png' %}" alt="">
            </div>
            <div class="column">
              <img src="{% static 'img/atomic-design-04.png' %}" alt="">
            </div>
            <div class="column">
              <img src="{% static 'img/atomic-design-05.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
