{% load static %}


<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patrones de diseño web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
  </head>
  <body>
    <main class="bd-main">
      <div class="bd-main-container container">
        <div class="bd-duo">
          <div class="bd-lead">
            <div class="columns is-desktop">
              <div class="column is-full primario is-size-1-mobile is-size-1-tablet has-text-light"><br><br><br>
                Mostly fluid<br><br><br>
              </div>
            </div>
            <div class="columns">
              <div class="column is-two-thirds segundo has-text-light"><br><br><br>
                Second column<br><br><br><br>
              </div>
              <div class="column tercero tercero has-text-light"><br><br><br>
                Third column<br><br><br><br>
              </div>
            </div>
            <div class="columns">
              <div class="column is-two-fifths cuarto"><br>
                Fourth column<br><br>
              </div>
              <div class="column quinto"><br>
                Fifth column<br><br>
              </div>
              <div class="column sexto"><br>
                Sixth column<br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
      <hr>
      <br><br><br>
      <div class="container">
        <div class="columns">
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus maximus dui, in vestibulum turpis pellentesque eget. Praesent et orci eu justo consequat ultricies. Nam mattis sapien non lorem blandit gravida. Nam velit enim, ultrices ac enim vel, semper dignissim nulla. Curabitur lacinia justo quis accumsan elementum. In cursus varius magna, feugiat imperdiet massa pulvinar sit amet. Quisque quis magna sit amet urna tristique iaculis sed a nisi. Sed placerat convallis felis quis porttitor. Proin justo dui, pharetra ut vestibulum in, tempus non tellus. Nam luctus sapien neque, quis lacinia odio varius eget. Maecenas sagittis at justo sit amet rhoncus. Integer consectetur nunc nibh, ut gravida arcu pharetra a. </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">

          </div>
          <div class="column">
            <p class="control">
              <a class="button is-light">
                Submit
              </a>
            </p>
          </div>
          <div class="column">

          </div>
        </div>
        <div class="columns">
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
          <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
            <p class="bd-notification">Element</p><br>
          </div>
        </div>
        <br><br><br>
        <hr>
        <br><br><br>
        <div class="container">
          <div class="columns">
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus maximus dui, in vestibulum turpis pellentesque eget. Praesent et orci eu justo consequat ultricies. Nam mattis sapien non lorem blandit gravida. Nam velit enim, ultrices ac enim vel, semper dignissim nulla. Curabitur lacinia justo quis accumsan elementum. In cursus varius magna, feugiat imperdiet massa pulvinar sit amet. Quisque quis magna sit amet urna tristique iaculis sed a nisi. Sed placerat convallis felis quis porttitor. Proin justo dui, pharetra ut vestibulum in, tempus non tellus. Nam luctus sapien neque, quis lacinia odio varius eget. Maecenas sagittis at justo sit amet rhoncus. Integer consectetur nunc nibh, ut gravida arcu pharetra a. </p>
            </div>
          </div>
          <div class="columns">
            <div class="column">
            </div>
            <div class="column">
              <p class="control">
                <a class="button is-primary">
                  Submit
                </a>
              </p>
            </div>
            <div class="column">
            </div>
          </div>
          <div class="columns">
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
            <div class="column sexto" style="margin: 10px; border-radius: 10px"><br>
              <p class="bd-notification">Element</p><br>
            </div>
          </div>
        </div>
        <br><br><br>
        <hr>
        <br><br><br>


        <div class="bd-main-container container">
          <div class="bd-duo">
            <div class="bd-lead">
              <div class="columns is-desktop">
                <div class="column is-full primario is-size-1-mobile is-size-1-tablet has-text-light"><br><br><br>
                  Diseño web líquido<br><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br><br>
        <hr>
        <br><br><br>

        
      </div>
    </main>
  </body>
</html>
