.primario {
  background: #00132a;
}
.segundo {
  background:#003476;
}
.tercero {
  background: #0062d2;
}
.cuarto {
  background: #b4d2f7;
}
.quinto {
  background: #d5dfef;
}
.sexto {
  background: #c2c2c2;
}

.elemento {
  background: #00d1b2;
}

.blanco {
  background: #ffffff;
}
.color-blanco {
  color: #ffffff;
}
